{% extends 'base.html' %}
{% load static %}
{% block title %} Welome Kwesi Donations {% endblock %}
{% block content %}
<section class="relative">
    <div class="main-section relative overflow-hidden border-b-2 shadow-md">
        <div class="relative sm:overflow-hidden">
            <img src="{% static './images/home-image.jpg'%}" class="cover w-full brightness-50" alt="">
            <div class="absolute top-96 left-10 right-10 flex justify-center items-center sm:overflow-hidden">
                <div class="text-center text-white w-1/2">
                    <!-- <h1 class="text-6xl xs:text-xs font-bold">Welcome to FUNDUS.org</h1><br>
                    <p class="leading-10 lg:text-xl sm: text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum fugiat in quaerat earum reprehenderit maxime provident nostrum, voluptate corporis blanditiis praesentium unde animi esse odio accusamus ratione atque laboriosam repellendus. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <div class="flex  justify-center items-center gap-10 py-5">
                        <button class="rounded-full border-2 hover:border-red-700 hover:bg-gray-200 hover:text-black border-gradient-to-r from-white to-red-600 p-3">Setup a FundUS.org Account</button>
                        <button class="rounded-full border-2 hover:border-red-700 hover:bg-gray-200 hover:text-black border-gradient-to-r from-white to-red-600 p-3">Setup a FundUS.org Account</button>
                    </div> -->
                </div>
            </div>
        </div> 
    </div>
</section>
<section class="">
    <div class="">
        <div class="container mx-auto lg:px-36">
            <div class="p-5 lg:w-1/ md:w-full text-center">
                <h1 class="text-6xl font-bold">What FundUS is About</h1>
                <p class="text-center leading-10">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed laborum pariatur reprehenderit, quam consequatur error ullam accusantium, <img src="{% static 'images/boss.png'%}" class="ml-2  p-1 float-right absolute opacity-80" width="5%" alt="">rem hic suscipit nam, impedit eum officiis tenetur ducimus repellat maxime! Cupiditate, accusantium. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus molestias odit quibusdam quae dolores cum, recusandae sit corrupti perspiciatis accusamus dolore accusantium aut, expedita reiciendis, quas excepturi nisi architecto minima? Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit vel iusto quas voluptatum praesentium! Veritatis, nobis unde. Quibusdam repellat quae nihil eveniet ex incidunt assumenda rerum reiciendis laudantium. Accusamus, earum? </p>
            </div>
        </div>
    </div>
</section>
<section class="bg-gradient-to-r from-green-100 to-green-600 shadow-lg">
    <div class="">
        <div class="container mx-auto lg:p-5 p-2">
            <div class="lg:w-2/md:w-full lg:px-40">
                <div class="p-10">
                    <h6 class="text-lg p-2 lg:pt-3 font-['Gugi']">SIMPLE</h6>
                    <h1 class="py-1 font-bold text-6xl">Start giving in minutes.</h1>

                    <div class="">
                        <p class="leading-10">Four quick questions is all it takes us to filter through thousands of charities and give you a handful we think you’ll love. A few taps more and your first donation is en route.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="">
    <div class="">
        <div class="container mx-auto lg:py-10 p-2">
            <div class="lg:w-96 md:w-full">
                <section class="overflow-hidden text-neutral-700">
                    <div class="px-5 py-2 lg:px-32 lg:pt-12">
                        <div class="-m-1 flex flex-wrap md:-m-2">
                            <div class="flex w-1/2 flex-wrap transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110  duration-300">
                                <div class="w-full p-1 md:p-2">
                                <img alt="gallery" class="block h-full w-full rounded-lg object-cover object-center" src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
                                </div>
                            </div>
                            <div class="flex w-1/3 flex-wrap transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110  duration-300">
                                <div class="w-full p-1 md:p-2">
                                <img alt="gallery" class="block h-full w-full rounded-lg object-cover object-center" src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(74).webp" />
                                </div>
                            </div>
                            <div class="flex w-1/3 flex-wrap transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110  duration-300">
                                <div class="w-full p-1 md:p-2">
                                <img alt="gallery" class="block h-full w-full rounded-lg object-cover object-center" src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(75).webp" />
                                </div>
                            </div>
                            <div class="flex w-1/ flex-wrap transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110  duration-300">
                                <div class="w-full p-1 md:p-2">
                                <img alt="gallery" class="block h-full w-full rounded-lg object-cover object-center" src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(70).webp" />
                                </div>
                            </div>
                            <div class="flex w-1/3 flex-wrap transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110  duration-300">
                                <div class="w-full p-1 md:p-2">
                                <img alt="gallery" class="block h-full w-full rounded-lg object-cover object-center" src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(76).webp" />
                                </div>
                            </div>
                            <div class="flex w-1/3 flex-wrap transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110  duration-300">
                                <div class="w-full p-1 md:p-2">
                                <img alt="gallery" class="block h-full w-full rounded-lg object-cover object-center" src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(72).webp" />
                                </div>
                            </div>
                            <div class="flex w-1/3 flex-wrap transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110  duration-300">
                                <div class="w-full p-1 md:p-2">
                                <img alt="gallery" class="block h-full w-full rounded-lg object-cover object-center" src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(72).webp" />
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
<section class="lg:py-4">
    <div class="">
        <div class="">
            <div class="head-tag container mx-auto lg:px-36 px-5">
                <h1 class="text-gray-400">on-going Donations</h1>
                <p class="text-3xl">looking for Charity organizations or Individuals to donate to?</p>
            </div>
            <div class="py-5 flex flex-wrap lg:flex-row px-5 justify-center gap-5  lg:gap-5">
                <div class="lg:w-96 h-full rounded-lg transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110  duration-300">
                    <a href="#">
                       <div class="rounded-lg overflow-hidden">
                            <img src="{% static 'images/home-image.jpg' %}" class="object-cover object-center w-full h-48" alt="">
                        </div>
                        <div class="hover:bg-gray-100 p-3">
                            <h3 class="font-bold">Jesus is King Ministries</h3>
                            <p class="py-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis magnam repellendus maiores facere ab ea praesentium commodi consequuntur, quam tempore eveniet labore hic quia cumque iure fugiat laudantium earum minus.</p>
                            <div class="">
                                <h1 class="text-lg font-bold">$<span class="">125,000</span><span class="ml-4">No of Donations: 525.</span></h1>
                            </div>
                        </div> 
                    </a>
                </div>
                <div class="lg:w-96 h-full rounded-lg transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110  duration-300">
                    <a href="#">
                       <div class="rounded-lg overflow-hidden">
                            <img src="{% static 'images/home-image.jpg' %}" class="object-cover object-center w-full h-48" alt="">
                        </div>
                        <div class="hover:bg-gray-100 p-3">
                            <h3 class="font-bold">Jesus is King Ministries</h3>
                            <p class="py-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis magnam repellendus maiores facere ab ea praesentium commodi consequuntur, quam tempore eveniet labore hic quia cumque iure fugiat laudantium earum minus.</p>
                            <div class="">
                                <h1 class="text-lg font-bold">$<span class="">125,000</span><span class="ml-4">No of Donations: 525.</span></h1>
                            </div>
                        </div> 
                    </a>
                </div>
                <div class="lg:w-96 h-full rounded-lg transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110  duration-300">
                    <a href="#">
                       <div class="rounded-lg overflow-hidden">
                            <img src="{% static 'images/home-image.jpg' %}" class="object-cover object-center w-full h-48" alt="">
                        </div>
                        <div class="hover:bg-gray-100 p-3">
                            <h3 class="font-bold">Jesus is King Ministries</h3>
                            <p class="py-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis magnam repellendus maiores facere ab ea praesentium commodi consequuntur, quam tempore eveniet labore hic quia cumque iure fugiat laudantium earum minus.</p>
                            <div class="">
                                <h1 class="text-lg font-bold">$<span class="">125,000</span><span class="ml-4">No of Donations: 525.</span></h1>
                            </div>
                        </div> 
                    </a>
                </div>
                <div class="lg:w-96 h-full rounded-lg transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110  duration-300">
                    <a href="#">
                       <div class="rounded-lg overflow-hidden">
                            <img src="{% static 'images/home-image.jpg' %}" class="object-cover object-center w-full h-48" alt="">
                        </div>
                        <div class="hover:bg-gray-100 p-3">
                            <h3 class="font-bold">Jesus is King Ministries</h3>
                            <p class="py-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis magnam repellendus maiores facere ab ea praesentium commodi consequuntur, quam tempore eveniet labore hic quia cumque iure fugiat laudantium earum minus.</p>
                            <div class="">
                                <h1 class="text-lg font-bold">$<span class="">125,000</span><span class="ml-4">No of Donations: 525.</span></h1>
                            </div>
                        </div> 
                    </a>
                </div>
                <div class="lg:w-96 h-full rounded-lg transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110  duration-300">
                    <a href="#">
                       <div class="rounded-lg overflow-hidden">
                            <img src="{% static 'images/home-image.jpg' %}" class="object-cover object-center w-full h-48" alt="">
                        </div>
                        <div class="hover:bg-gray-100 p-3">
                            <h3 class="font-bold">Jesus is King Ministries</h3>
                            <p class="py-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis magnam repellendus maiores facere ab ea praesentium commodi consequuntur, quam tempore eveniet labore hic quia cumque iure fugiat laudantium earum minus.</p>
                            <div class="">
                                <h1 class="text-lg font-bold">$<span class="">125,000</span><span class="ml-4">No of Donations: 525.</span></h1>
                            </div>
                        </div> 
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
